@use './variables.scss';
@media (max-width: 992px) and (min-width: 768px){
    body{
        font-family: variables.$text-font;
        padding: 0;
        margin: 0;
        height: 100vh;
    }
    
    #index-header{
        #main-logo{
            width: 42%;
            height: auto;
            display: block;
            margin: 20px auto;
        }

        #location-search{
            font-family: variables.$text-font;
            background-color: variables.$bgc-grey;
            padding: 20px 110px;
            display: flex;
            justify-content: center;
            box-shadow: inset 0 2px 3px 0 #A1A1A1;
            font-weight: 500;
            color: #5e5e5e;
            i{
                margin-right: 10px;
            }
        }

        #explore{
            text-align: center;
            padding: 20px 40px;
            background-color: variables.$bgc-light-grey;
            h2{
                width: 90%;
            }
            p{
                font-weight: 300;
            }
            button{
                color:white;
                letter-spacing: 0.5px;
                font-weight: 500;
                padding: 15px 24px;
                border-radius: 30px;
                border:none;
                background: linear-gradient(345deg, variables.$color-primary 35%, variables.$color-secondary 100%);
                box-shadow: 0 5px 4px 2px #b6b6b6;
            }
        }
    } 
   

    #index-main{
        h3{
            font-size: 22px;
        }
        .function {
            padding: 5px 30px;
            article{
                display: block;
                background-color: variables.$bgc-light-grey;
                height: 60px;
                margin-bottom: 10px;
                display: flex;
                padding: 0 45px;
                justify-content: start;
                align-items: center;
                border-radius: 20px;
                position: relative;
                font-size: 18px;

                &::before{
                    display: inline;
                    content: '';
                    height: 30px;
                    width: 30px;
                    border-radius: 50%;
                    background: linear-gradient(345deg, variables.$color-primary 35%, variables.$color-secondary 100%);
                    position: absolute;
                    left: -15px;
                    color:white;
                    text-align: center;
                    vertical-align: middle;
                    line-height: 30px
                }

                h6{
                    margin-left: 10px;
                    font-size: 16px;
                    font-weight: 500;
                }
            }
            #choose::before{
                content: '1';
            }
            #menu::before{
                content: '2';
            }
            #deguster::before{
                content: '3';
            }    
        }

        .restaurants {
            background-color: variables.$bgc-light-grey;
            height: 1100px;
            padding-top: 10px;
            h3{
                margin: 20px 50px;
            }
            a{
                text-decoration: none;
                color: inherit;
                figure{
                    height: 240px;
                    width: 90%;
                    margin: 0 auto;
                    border-radius: 10px;
                    overflow: hidden;
                    background-color: variables.$bgc-white;
                    margin-bottom: 15px;
                    position: relative;
                    img{
                        object-position: center;
                        object-fit: cover;
                        height: 170px;
                        width: 100%;
                    }
                    figcaption{
                        height: calc(100% - 170px);
                        display: flex;
                        justify-content: space-between;
                        align-content: center;
                        padding: 0 15px ;
                        
                        div{
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            
                            h5{
                                font-size: 20px;
                                margin: 0;
                                
                            }
                            p{
                                font-size: 16px;
                                margin: 0;
                               
                            }
                        }
                        i{
                            display: inline;
                            margin: auto 0;
                            font-size: 20px;
                            cursor: pointer;   
                        }  
                    }
                    &::after{
                        display: block;
                        content:'Nouveau';
                        background-color: variables.$color-tertiary;
                        height: 20px;
                        font-size: 12px;
                        color: green;
                        padding: 6px 6px 0;
                        border-radius: 4px;
                        position: absolute;
                        top: 10px;
                        right: 5px;
                    }
                }

            }
        }
    }

    #index-footer{
        background-color: variables.$bgc-light-black;
        height: 150px;
        color: #fff;
        padding-top: 20px;
        padding-left: 20px;
        object-position:left;
        display: flex;
        flex-wrap: wrap;
        #img-container{
            display: flex;
            width: 100%;
            justify-content: start;
            transform: scale(0.5,0.5) translate(-50%);
            img{
                filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(277deg) brightness(112%) contrast(104%);
            }
            
        }
        p{  
            width: 50%;
            i{
                width: 20px;
                margin-right: 10px;
            }
        }
    }

    #menu-header{
        display: flex;
        padding-bottom: 10px;
        background-color: variables.$bgc-grey;
        a{
            text-decoration: none;
            color:inherit;
            i{
                display: block;
                margin-top: 20px;
                margin-right: 50px;
                margin-left: 20px;
            }
        }
        #menu-logo{
            width: 42%;
            height: auto;
            display: block;
            margin-top: 20px;
            margin-left: 30px;
        }
    }

    #menu-main{
        display: flex;
        flex-direction: column;
        background-color: variables.$bgc-grey;
        img{
            width: 100%;
            z-index: 1;
            height: 400px;
        }

        #title{
            background-color: variables.$bgc-grey;
            position: relative;
            border-radius: 25px;
            top : -50px;
            z-index:10;    
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px;
            h5{
                margin: 0;
                font-family: variables.$title-font;
                font-size: 32px;
                font-weight: 300;
            }
            .heart-icon{
               align-items: center;
               font-size: 18px;
            }
        }

        #menus{
            background-color: variables.$bgc-grey;
            padding: 20px;
            section{
                margin-bottom: 40px;
                h5{
                    text-transform: uppercase;
                    font-size: 20px;
                    font-weight: 300;
                    margin: 0;
                    margin-bottom: 16px;
                    &::after{
                        content: '';
                        display: block;
                        background-color: variables.$color-tertiary;
                        width: 14%;
                        height: 3px;
                    }
                }
                .list-item{
                    background-color: #fff;
                    border-radius: 15px;
                    margin-bottom: 10px;
                    box-shadow: 1px 1px 10px -5px #353535;
                    position: relative;
                    overflow: hidden;
                    cursor: pointer;
                    display: flex;
                    justify-content: space-between;
                    .menu-info{
                        background-color: #fff;
                        border: none;
                        display: flex;
                        flex-direction: column;
                        margin: 8px;
                        width: 90%;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        overflow: hidden;
                        h4{
                            margin: 0;
                            font-size: 18px;
                            margin-bottom: 5px;
                            color: variables.$bgc-light-black;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            overflow: hidden;
                        }
                        p{
                            color: variables.$bgc-light-black;
                            margin: 0;
                            margin-bottom: 5px;
                            justify-content: space-between;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            overflow: hidden;
                        }
                    }
                    .price-menu {
                        display: flex;
                        align-items: flex-end;
                        margin-bottom: 8px;
                    }

                    .check-icon{
                        width: 0%;
                        background-color: variables.$color-tertiary;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        i{
                            color: white;
                            border-radius: 50%;
                            width: 27px;
                            height: 27px;
                            transform: rotate(-180deg);
                            transition-duration: 0.5s;
                            font-size: 20px;
                        }
                    }

                    &:active{
                        .menu-info{
                            width: 60%;
                            transition: 0.3s ease;
                        }
                        .check-icon{
                            width: 20%;
                            transition: 0.3s ease;
                            i{
                                transform: rotate(0deg);
                            }
                        }
                    }
                }
            }
        }
        #order{
            color:white;
            letter-spacing: 0.5px;
            font-weight: 700;
            padding: 15px 24px;
            border-radius: 30px;
            border:none;
            background: linear-gradient(345deg, variables.$color-primary 35%, variables.$color-secondary 100%);
            box-shadow: 0 5px 4px 2px #b6b6b6;
            width: 50%;
            height: 50px;
            margin: 0 auto 80px;
            cursor: pointer;
        }

    }

    #menu-footer{
        background-color: variables.$bgc-light-black;
        height: 150px;
        color: #fff;
        padding-top: 20px;
        padding-left: 20px;
        object-position:left;
        display: flex;
        flex-wrap: wrap;
        #img-container{
            display: flex;
            width: 100%;
            justify-content: start;
            transform: scale(0.5,0.5) translate(-50%);
            img{
                filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(277deg) brightness(112%) contrast(104%);
            }
            
        }
        p{  
            width: 50%;
            i{
                width: 20px;
                margin-right: 10px;
            }
        }
    }
}