$title-font: 'Shrikhand', cursive;
$text-font: 'Roboto', sans-serif;
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary:  #99E2D0;
$bgc-white: #fff;
$bgc-grey: #e7e7e7;
$bgc-light-grey: #f2f2f2;
$bgc-light-black: #353535;
